body>header {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 50px;
    background-color: #F7F8FC;
    h2 {
        font-size: 20px;
        position: absolute;
        height: 50px;
        width: 100%;
        line-height: 50px;
        color: #333;
        text-align: center;
    }
    button[role="next"] {
        position: relative;
        float: right;
        height: 50px;
        line-height: 50px;
        right: 16px;
        background-color: transparent;
        background-image: none;
        border: none;
        color: #EF971C;
        font-weight: 700;
    }
    button[role="back"] {
        position: relative;
        float: left;
        height: 50px;
        line-height: 50px;
        left: 8px;
        background-color: transparent;
        background-image: none;
        border: none;
        color: #EF971C;
        &:before {
            content: "";
            position: absolute;
            display: block;
            border-width: 8px;
            top: 17px;
            border-color: transparent #EF971C transparent transparent;
            border-style: dashed solid dashed dashed;
        }
        &:after {
            content: "";
            display: block;
            border-width: 8px;
            border-color: transparent #F7F8FC transparent transparent;
            position: absolute;
            left: 7px;
            top: 17px;
            border-style: dashed solid dashed dashed;
        }
    }
}

body>main {
    padding-top: 58px;
}
